<footer class="rodape" id="contato">
  <div class="rodape-div">

      <div class="rodape-div-1">
          <div class="rodape-div-1-coluna">
              <h2 style="font-weight: bold;">Coinverse</h2>
              <p>"Simples e eficaz, proporciona-lhe taxas de câmbio precisas e atualizadas, tornando as suas transações internacionais mais fáceis do que nunca.</p>
          </div>
      </div>

      <div class="rodape-div-3">
        <div class="rodape-div-3-coluna">
          <h2 style="font-weight: bold;">Ferramentas e recursos</h2>
          <p><a href="#">Blog</a></p>
          <p><a href="#">Conversor de moedas</a></p>
          <p><a href="#">Gráficos de moedas</a></p>
      </div>
      </div>

      <div class="rodape-div-4">
          <div class="rodape-div-4-coluna">
              <h2 style="font-weight: bold;">Calculadora</h2>
              <br>
              <p>Calculadora IBAN</p>
              <p>Calculadora de despesas de viagem</p>
          </div>
      </div>

      <div class="rodape-div-2">
        <div class="rodape-div-2-coluna">
            <h2 style="font-weight: bold;">Contatos</h2>
            <p>coinverse@hotmail.com</p>
            <p>+55 63 99200-0000</p>
        </div>
    </div>

  </div>
  <p class="rodape-direitos">Copyright © 2023 – Todos os Direitos Reservados.</p>
</footer>