
.conversor-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  text-align: center;
}

.conversor-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.conversor-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.conversor-button:hover {
  background-color: #0056b3;
}

.conversor-result {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.conversion-history {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.conversion-record {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.conversion-record p {
  margin: 5px 0;
}

.delete-button {
  background-color: #f44336; 
  color: white; 
  border: none; 
  padding: 5px 10px; 
  border-radius: 5px; 
  cursor: pointer; 
}

.delete-button:hover {
  background-color: #d32f2f; 
}
