
.card {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .card-header {
    background-color: #219140;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-body {
    margin-top: 20px;
  }
  

  label{
    display: block;
    margin-bottom: 10px;
  }
  
  select{
    display: block;
    margin-bottom: 10px;
    margin-left: 80px;
    width: 167px;
  }


  input{
    display: block;
    margin-bottom: 10px;
    margin-left: 80px;
  }



  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4714ca;
  }
  
 
  p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  