<br>
<div class="converter-card">
    <h1>Conversor de Moeda</h1>
    <div class="input-group">
        <select id="fromCurrency">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <!-- Adicione mais opções de moeda conforme necessário -->
        </select>
        <span class="currency-divider"></span>
        <select id="toCurrency">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <!-- Adicione mais opções de moeda conforme necessário -->
        </select>
    </div>
    <input type="number" id="amount" placeholder="Quantidade" />
    <button id="convertButton">Converter</button>
    <p class="result" id="result">Resultado: </p>
    <br>
    <br>
    <p class="conversion-rate">Taxa de Conversão: <span id="conversionRate">1.2</span></p>
</div>
<br>