<div class="image-container">
  <div class="image-overlay">
    <img src="assets\2.jpg" alt="Imagem 2">
    <div class="image-text">Nosso Conversor de Moedas torna a vida mais fácil. Com uma interface amigável,você pode converter moedas rapidamente.<br> A ferramenta usa taxas de câmbio em tempo real para garantir precisão. <br>Acompanhe transações anteriores, personalize e tenha segurança.<br> Simplifique o comércio internacional com nossa solução. Converta diversidade em simplicidade financeira.</div>
  </div>
</div>

<br>
<mat-card class="conteudo">
  <h1>Bem-vindo ao Coinverse</h1>
  <p>O seu Conversor de Moedas confiável e simples de usar.</p>
  <a mat-raised-button color="primary" routerLink="/conversor">Converter Moeda</a>
</mat-card>
<br>